body {
    background-color: rgb(255, 255, 114);
}

.main-title,
.subtitle {   
    font-family: 'Courier New', Courier, monospace;
}

.main-title {
    text-align: center;
}

.subtitle,
.title-ingredients,
.process {
    margin-left: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-ingredients, 
.process {
    text-decoration: underline;
}

.ingredients, 
.steps, 
.list-recipes {
    font-size: 20px;
}
